@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Playfair+Display&display=swap');

.IndexAbout{
position:relative;
display: flex;
flex-direction: column;
@media screen and (min-width:1000px) {
    margin-right: 50%;
}
align-items: left;
h1{
    font-family:"Paytone One";

}
p{
    font-family: "Playfair Display";
    max-width: 500px;
}
@media screen and (min-width:700px) {
    max-width: 50%;
}
}

.H1{
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
   
@media screen and (min-width:1000px) {
    font-size: 6rem;
}
}

.blur{
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    z-index: -1;
    position:absolute;
    top:0; left:0;right:0; bottom:0;
    height: 100%;
    width: 100%;
}