.main{
    display: flex;
     justify-content: flex-start;
      align-items: flex-start;
      @media screen and (min-width:1000px) {
          align-items: flex-end;
         
          
      }
}
